[Unit]
Description=Executes the vm-monitoring script
Wants=vm-monitoring.timer

[Service]
ExecStart=/usr/local/bin/vm-monitoring

[Install]
WantedBy=multi-user.target
